img {
    width:30%;
    box-shadow:0 6px 8px 0 rbga(2,2,2,0.2)
}

body {
    text-align: center;
}

#footer{
    background-color: skyblue;
     color: white;
}

img:hover{
    border-radius: 140px;
}